please enter your Url here <br><br>

<%= form_tag generate_short_url_path, remote: true do |f| %>
	<%= text_field_tag :long_url %>
	<%= submit_tag "SHORTEN" %>
<% end %>
<br><br>
<div>
	<span id='response'></span>
</div>